
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p {
  font-size: 16px;
  text-align: justify;
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
.entete {
  background-color: #fcce00;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  padding-top: 0;
  padding-bottom: 80px;
  margin-bottom: 64px;
}

.entete_titre {
margin: 0;
font-size: 88px;
text-transform: uppercase;
}

.entete_sous-titre {
  font-size: 38px;
  background-color: #ff6b00;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 40px;
}


.colonnes {
display: flex;
justify-content: space-around;
align-items: center;
}

.bloc_texte {
flex-basis: 0;
flex-grow: 1;
text-align: center;
margin: 10px;
padding: 20px;
}

.sub-title {
font-size: 24px;  
text-align: center;
font-weight: bold;
color: #231f20;
}

.introduction {
font-family: Poppins;
font-size: 16px;
text-align: justify;
color: #231f20;
padding-right: 48px;
padding-left: 48px;
}

.button {
font-family: Poppins;
font-size: 20px;
font-weight: bold;
color: #fcce00;
text-align: right;
}

.bloc_photo {
flex-basis: 0;
flex-grow: 1;
background-color: #fcce00;
text-align: right
}

.photo-ordinateur {
  mix-blend-mode: darken;
}


.colonnes2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bloc-image-arcade {
flex-basis: 0;
flex-grow: 1;
background-color: #ff6b00;
text-align: left
}

.image-arcade {
  mix-blend-mode: darken;
  }

.bloc-texte-arcade {
flex-basis: 0;
flex-grow: 1;
text-align: center;
margin: 10px;
padding: 20px;
 }

 .titre-arcade {
  font-size: 24px;  
  text-align: center;
  font-weight: bold;
  color: #231f20;
 }

 .texte-arcade {
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
  padding-right: 48px;
  padding-left: 48px;
 }

 .button-rouge {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  color: #ff6b00;
  text-align: right;
  }

  .advance {
    text-align: center;
    font-size: 40px;
  }

  .colonnes3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color:#e02020; 
  }

.bloc-texte-anarcade {
flex-basis: 0;
flex-grow: 1;
text-align: left;
margin: 0px;
padding: 20px;
}

.titre-anarcade {
  font-size: 24px;  
  text-align: left;
  font-weight: bold;
  color: white;  
}

.texte-anarcade {
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  color: white;
}

.button-blanc {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.bloc-image-anarcade {
flex-basis: 0;
flex-grow: 1;
text-align: right;
}

.photo-anarcade {
mix-blend-mode: darken; 
}


.colonnes4 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color:#b620e0;  
}

.bloc-texte-colortv {
  flex-basis: 0;
  flex-grow: 1;
  text-align: left;
  margin: 0px;
  padding: 20px;
}

.titre-colortv {
  font-size: 24px;  
  text-align: left;
  font-weight: bold;
  color: white; 
}

.texte-colortv {
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  color: white;
}

.bloc-image-colortv {
flex-basis: 0;
flex-grow: 1;
text-align: right;
}

.photo-colortv {
mix-blend-mode: darken; 
}


.colonnes5 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color:#6236ff;  
}

.bloc-texte-computer {
  flex-basis: 0;
  flex-grow: 1;
  text-align: left;
  margin: 0px;
  padding: 20px;
}

.titre-computer {
  font-size: 24px;  
  text-align: left;
  font-weight: bold;
  color: white; 
}

.texte-computer {
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  color: white;
}

.bloc-image-computer {
flex-basis: 0;
flex-grow: 1;
text-align: right;
}

.photo-computer {
mix-blend-mode: darken; 
}
