
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p {
  font-size: 16px;
  text-align: justify;
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
.entete {
  background-color: #fcce00;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  padding-top: 0;
  padding-bottom: 80px;
  margin-bottom: 64px;
}

.entete_titre {
margin: 0;
font-size: 88px;
text-transform: uppercase;
}

.entete_sous-titre {
  font-size: 38px;
  background-color: #ff6b00;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 40px;
}



.colonnes {
display: flex;
justify-content: space-around;
align-items: center;
}

.bloc_texte {
flex-basis: 0;
flex-grow: 1;
text-align: center;
margin: 10px;
padding: 20px;
}

.sub-title {
font-size: 24px;  
text-align: center;
font-weight: bold;
color: #231f20;
}

.introduction {
font-family: Poppins;
font-size: 16px;
text-align: justify;
color: #231f20;
padding-right: 48px;
padding-left: 48px;
}

.button {
font-family: Poppins;
font-size: 20px;
font-weight: bold;
color: #fcce00;
text-align: right;
}

.bloc_photo {
flex-basis: 0;
flex-grow: 1;
background-color: #fcce00;
text-align: right
}

.photo-ordinateur {
  mix-blend-mode: darken;
}